body{
font-family: Arial;
margin:0;
background:#f4f6f8;
color:#333;
}

header{
background:#1e2a38;
color:white;
padding:40px;
text-align:center;
}

nav{
background:#2d3e50;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#00bcd4;
}

section{
padding:40px;
max-width:900px;
margin:auto;
}

h2{
margin-bottom:20px;
color:#1e2a38;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:8px;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

.skills{
display:flex;
flex-wrap:wrap;
gap:10px;
list-style:none;
padding:0;
}

.skills li{
background:#00bcd4;
color:white;
padding:8px 15px;
border-radius:20px;
}

button{
background:#1e2a38;
color:white;
padding:12px 20px;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#00bcd4;
}

footer{
text-align:center;
padding:20px;
background:#1e2a38;
color:white;
margin-top:40px;
}
